.about_container {
  width: 1200px;
  height: 100%;
}
.about_title {
  width: 50%;
}
.box_1 {
  max-width: 300px;
  max-height: 300px;
  background: #575757;
  animation: spin 5s linear 0s infinite;
}
.box_2 {
  max-width: 300px;
  max-height: 300px;
  background: #000;
  z-index: 2;
  animation: spin 20s linear 3s infinite;
}
.box_img {
  width: 100%;
  box-shadow: 0 0 40px white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  .about_container {
    flex-direction: column;
  }
  .box_1 .box_2 .box_img {
    width: 150px;
    height: 150px;
  }
}
