.contact_title {
  font-size: 3.5rem;
  font-weight: bold;
}
.input_container {
  width: 50%;
}
.location_maps {
  padding: 0 20px;
  width: 50%;
}
.maps {
  height: 85vh;
  width: 100%;
}
.contact_icons {
  height: 100px;
}
#icons {
  font-size: 70px;
  color: white;
}
#icons:hover {
  transform: scale(1.1);
  color: rgb(0, 180, 75);
  transition: 0.3s;
}
.contact_number {
  padding: 20px 0;
}
.contact_qr img {
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 1384px) {
  .input_container :first-child {
    flex-direction: column;
  }
  .contact_qr img {
    width: 100px;
    height: 100px;
  }
  .input_media{
    padding-left: 15px;
  }
  #icons {
    font-size: 30px;
  }
}
