.skills_container {
  height: 100vh;
  justify-content: space-evenly;
}
.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.list_item {
  width: 25%;
}
.skills_title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff;
}
.list_title {
  height: 100px;
}
@media screen and (max-width: 1384px) {
  .list_item {
    width: 25%;
  }
  .list_item :only-child{
    width: 80%;
  }
  .list_title h5{
    height: 45px;
  }
  .skills_title{
    font-size: 1.5rem;
  }
}
