.skills_container{
  height: 100vh;
  justify-content: space-around;
}
.list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.list_item{
  width: 25%;
}
.skills_title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff;
}
.list_title {
  height: 100px;
}
@media screen and (max-width: 1384px) {
  .list_item{
    width: 50%;
  }
}