.work_list {
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.work_title {
  font-size: 3.5rem;
  font-weight: bold;
}
.work_link_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  height: 400px;
  border: 1px solid rgb(97, 97, 97);
  margin-bottom: 5px;
}
.work_link_box:hover {
  background-color: rgb(97, 97, 97);
  transition: all 1s;
}
.link_img{
  padding: 5px;
  width: 40%;
  height: 100%;
}
.link_box a {
  padding: 10px;
  font-size: 17px;
}

.work_box_title {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 1384px) {
  .work_link_box {
    width: 300px;
  }
  .link_img{
    height: 70%;
  }
  .link_box a {
    font-size: 10px;
  }
  .work_box_title {
    font-size: 1rem;
  }
}
